.jumbotron {
  padding-top: 7rem;
  background-color: #e2edff;
}


#projects {
  background-color: #e2edff;

}

section {
  padding-top: 17rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row >* {
  padding: 0;
}

#gallery {
  margin-top: -0rem;
}
