.jumbotron {
  padding-top: 7rem;
  background-color: #e2edff;
  padding-bottom: -1rem;
}


#projects {
  background-color: #e2edff;

}

section {
  padding-top: 14rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row >* {
  padding: 0;
}

#about {
  overflow: hidden;
}


.navbar-brand {

  font-weight: 500;
}

